---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

@import "base/basecss";
@import "base/fonts";
@import "base/typography";
@import "base/base";
@import "components/radio";
@import "components/vidImgs";

.home-bg {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/assets/images/cr_logo_mark_white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7%;
}

@media only screen
  and (max-width: 600px) {
    .home-bg {
      background-size: 13%;
    }
}

body,
html {
  width: 100%;
  height: 100%;
}

.covervid-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fhWrapper {
  height: 100%;
  width: 100%;
}

.fhWrapper > div {
  width: 100%;
  height: 100%;
}
