<div id="modal-about" class="fixed w-100 h-100 overflow-y-scroll bg-black-90 z-3 dn">
  <div class="fixed mt3 mr3 z-2 right-0">
    <div>
      <a href="" class="f2 modal-close">
        <img src="assets/images/cr001/modal_close.svg" />
      </a>
    </div>
  </div>
  <div class="w-80 w-60-ns mt5 mx-auto ttu tc">
    <h1 class="f5 pt5 pb5">Circadian Rhythms</h1>

    <div class="small mb5">
  <!--     <p>Last Japan</p>
      <p>Luke Dubuis</p>
      <p>William Francis Green</p>
      <p>Dylan Tushar</p>
      <p>Jase Coop</p> -->
    </div>

    <div class="small mb5">
      <a href="" class="white">Tw</a>
      <a href="" class="white ph4">Ig</a>
      <a href="" class="white">Sc</a>
    </div>

    <img width="30" src="assets/images/cr_logo_mark_white.svg" />
  </div>
</div>
