<div id="modal-about" class="fixed w-100 h-100 overflow-y-scroll bg-black-90 z-3 dn top-0">
  <div class="fixed mt3 mr3 z-2 right-0">
    <div>
      <a href="" class="f2 modal-close">
        <img src="assets/images/cr001/modal_close.svg" />
      </a>
    </div>
  </div>
  <div class="w-80 w-60-ns mt5 mx-auto ttu tc">
    <h1 class="f6 pt5 pb5 stch stch-c">Circadian Rhythms</h1>

    <div class="f6 stch stch-c">Marco Giuliani</div>
    <div class="f6 stch stch-c">Luke Dubuis</div>
    <div class="f6 stch stch-c">William Francis Green</div>
    <div class="f6 stch stch-c">Jase Coop</div>
    <div class="f6 stch stch-c">Shannen SP</div>
    <div class="f6 stch stch-c">Dylan Tushar</div>

    <div class="f6 stch stch-c pv3">All products made in London</div>

    <div class="small mb5">
      <a href="http://twitter.com/cr_label" class="white">Tw</a>
      <a href="http://instagram.com/cr_label" class="white ph4">Ig</a>
      <a href="http://soundcloud.com/cr_label" class="white">Sc</a>
    </div>

    <img width="30" src="assets/images/cr_logo_mark_white.svg" />
  </div>
</div>
