  <div id="cr001-a">
    <div class="h-100 flex items-center justify-center ph3 mv5 relative z-1">
      <div class="w-100 w-40-ns mh4">
        <img class="db ma0 w-100" src="/assets/images/cr001/cr001-a-artwork.jpg" />
        <div class="pa4 w-100 bg-white black fl relative ">
          <h3 class="itemTitle f5 mt0 mb1 text ttu w-100" >TOASTY—METAL</h3>
          <div class="itemDescription mt3 smallcaps o-70">A. METAL / B1. REBAR / B2. BUMP</div>
          <div class="itemDescription smallcaps o-70">Printed colour sleeve | 12" Vinyl</div>
          <div class="itemDescription smallcaps o-70">Artwork Dylan Tushar</div>
          <div class="mt3">
            <a class="buy-button btn btn-black btn-block btn-outline" id="9208436301" data-id="9208436301">Buy vinyl</a>
          </div>
          <div class="mt2">
            <a target="_blank" href="https://itunes.apple.com/gb/album/metal-single/id1210619910" class="btn btn-black btn-block btn-outline">iTUNES</a>
          </div>
          <div class="mt2">
            <a target="_blank" href="https://play.spotify.com/album/5IAryvkXIMrCtlHezneca8" class="btn btn-black btn-block btn-outline">SPOTIFY</a>
          </div>
        </div>
      </div>
    </div>
  </div>
