<div id="cr001-b" class="overflow-hidden">
    <div class="w-80 mx-auto">
        <div class="light-video-embed-wrapper">
          <div class="light-video-embed cursor-pointer w-100" data-id="204871669">
            <img src="assets/images/cr001/cr001-teaser-poster.png" />
            <div class="play"></div>
          </div>
        </div>
        <div>
          <div class="small ttu mt3">Toasty — Metal</div>
          <div class="small ttu mt1 mb5">Director — Romain Cieutat</div>
        </div>
    </div>
  </div>
