{% if include.colour == 'black' %}
  {% assign textColour = 'white' %}
{% else %}
  {% assign textColour = 'black' %}
{% endif %}

<div id='item-{{include.id}}' class="collectionItem w-50 fl">
  <div class="w-100">
    <a class="btn-arrow btn-arrow-inactive btn-prev absolute top-50 right-0 mr4" data-productID="{{include.id}}">
      <img src="assets/images/arrow-left-{{textColour}}.svg" />
    </a>
  </div>
  <div class="w-100 relative">
    <div class="fotorama"
      data-auto="false"
      data-width="100%"
      data-minwidth="100%"
      data-maxwidth="100%"
      data-minheight="100%"
      data-maxheight="100%"
      data-transition="crossfade"
      nav="false"
    >
    </div>
  </div>


  <div class="w-100 h-100-ns fl relative">
    <div class="ph4 pl4-ns pr0-ns mt5 w-100 w-80-ns">
      <h3 class="itemTitle f5 mt3 mb1 text ttu w-100" ></h3>
      <div class="itemPrice o-60"></div>
      <div class="o-60">ONE SIZE  </div>
      <div class="itemDescription mt3 smallcaps o-70"></div>
      <div class="tc tl-ns thumbnails mt2 mt0-ns mb2 w-100-s"></div>

      <div>
        <a id="{{ include.id }}" data-id="{{ include.id }}" class="buy-button btn btn-outline btn-inline">Buy</a>
      </div>

    <a class="btn-arrow btn-next absolute top-50 left-0 ml4" data-productID="{{include.id}}">
      <img src="assets/images/arrow-right-{{textColour}}.svg" />
    </a>

    </div>
  </div>
</div>

