{% if include.colour == 'black' %}
  {% assign textColour = 'white' %}
{% else %}
  {% assign textColour = 'black' %}
{% endif %}

{% if include.record == "true"  %}
  {% assign width = '1000' %}
  {% assign height = '1000' %}
{% else %}
  {% assign width = '1000' %}
  {% assign height = '1500' %}
{% endif %}

<div id='item-{{include.id}}' class="collectionItem w-100 w-50-ns pa4 pa5-ns fl">
  <div class="w-100">

  </div>

  <div class="w-100 relative">

    {% if include.record == "true"  %}
      <div class="record"></div>
    {% else  %}
      <div class="fotorama center no-repeat" style="background-size: 40px; background-image: url('/assets/images/loading2.gif');"
        data-auto="false"
        data-width="{{width}}"
        data-height="{{height}}"
        data-minwidth="100%"
        data-maxwidth="100%"
        data-minheight="100%"
        data-maxheight="100%"
        data-transition="crossfade"
        data-loop="true"
        nav="false"
      >
      </div>
    {% endif %}

    {% if include.record != "true"  %}

      <div class="top-1 right-1 thumbnails absolute"></div>
      <a class="pa3 btn-arrow btn-next bg-white absolute top-50 right-1 ml4" data-productID="{{include.id}}">
        <img class="db ma0" src="/assets/images/arrow-right-black.svg" />
      </a>
      <a class="pa3 btn-arrow btn-arrow-inactive bg-white btn-prev absolute top-50 left-1 mr4" data-productID="{{include.id}}">
        <img class="db ma0" src="/assets/images/arrow-left-black.svg" />
      </a>
    {% endif %}
  </div>
  <div class="pa4 w-100 bg-white black fl relative">
      <h3 class="itemTitle f5 mt0 mb1 text ttu w-100" ></h3>
      <div class="itemPrice o-60"></div>
      <div class="o-60">ONE SIZE  </div>
      <div class="itemDescription mt2 mb2 smallcaps o-70" style="height: 80px;"></div>
      <div>
        <a id="{{ include.id }}" data-id="{{ include.id }}" class="buy-button btn btn-black btn-block btn-outline">Buy</a>
      </div>
  </div>
</div>
