<div id="cr001-menu" class="menu fixed top-50 left-1 z-2">
  <div class="f5 mb2">
    <a href="" class="menu-link o-100 white no-underline" id="menu-link-cr001-a">CR001-A</a>
  </div>
  <div class="f5 mb2">
    <a href="" class="menu-link o-30 white no-underline" id="menu-link-cr001-b">CR001-B</a>
  </div>
  <div class="f5 mb2">
    <a href="" class="menu-link o-30 white no-underline" id="menu-link-cr001-c">CR001-C</a>
  </div>
  <div class="f5 mb2">
    <a href="" class="menu-link o-30 white no-underline mb3 mb0-ns" id="menu-link-cr001-d">CR001-D</a>
  </div>
</div>
