---
layout: default
---
<audio autoplay>
  <source src="assets/images/cr001/metal.mp3" type="audio/mpeg">
</audio>
<div id="cr001-bg" class="cover fixed w-100 h-100" style="background-image:url('assets/images/cr001/cr001a_bg.jpg');"></div>

<div class="cr001-ep fixed bottom-2 bt bb b--white w-100 pa3 small z-5">
  <div class="fl">
    <div class="absolute top-0" style="margin-top: -15px;">
      <img class="ba b--white" src="assets/images/cr001/cr001a_thumb.png" />
    </div>
    <div style="margin-left: 90px;">
      NOW PLAYING: TOASTY — METAL
    </div>
  </div>

  <div class="fr white">
    <a class="white buy-button" id="8627174408" href="" data-id="8627174408" href="">BUY VINYL</a>
    <a class="ml3 white" href="">iTUNES</a>
    <a class="ml3 white" href="">SPOTIFY</a>
    <a class="ml3 white" href="">SOUNDCLOUD</a>
  </div>
</div>


<div class="fixed cr001-logo mt3 ml3 z-2">

  <a href="/">
    <img src="assets/images/cr001/cr001_logo.svg" />
  </a>
</div>

{% include cr001/about_modal.html %}

<div class="fixed mt3 mr3 z-2 right-0 topMenu">
  <div>
    <a href="" id="openAbout" class="f2 modal-trigger" data-targetModal="modal-about">
      <img src="assets/images/cr001/about_icon.svg" />
    </a>
  </div>
</div>

<div id="cr001-menu" class="menu fixed top-50 left-1 z-2">
  <div>
    <a href="" class="menu-link f2 o-100 white no-underline" id="menu-link-cr001-a">CR001-A</a>
  </div>
  <div>
    <a href="" class="menu-link f2 o-30 white no-underline" id="menu-link-cr001-b">CR001-B</a>
  </div>
  <div>
    <a href="" class="menu-link f2 o-30 white no-underline" id="menu-link-cr001-c">CR001-C</a>
  </div>
  <div>
    <a href="" class="menu-link f2 o-30 white no-underline mb3 mb0-ns" id="menu-link-cr001-d">CR001-D</a>
  </div>
</div>

<div class="content absolute h-100 w-100 z-1">

  <div class="bg-g-black-to-trans h-100 w-100">
    <div class="flex items-center justify-center px3 w-100 h-100">
      <div>
        <img id="logo-intro" src="assets/images/cr001/cr001_logo_intro.svg" class="w-100 mb4 mt0" />
      </div>
    </div>
  </div>

  <div class="h-100" id="cr001-a">
    <div class="h-100 flex items-center justify-center px3">
      <div>
        <div>
        </div>
      </div>
    </div>
  </div>

  <div class="h-100" id="cr001-b">
    <div class="w-80 h-100 mx-auto">
      <div class="flex items-center h-100 w-100 light-video-embed-wrapper relative">
        <div class="light-video-embed w-100" data-id="203728529">
          <img src="assets/images/cr001/cr001-teaser-poster.png" />
          <div class="play"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="h-auto fl relative cb w-100" id="cr001-c">
    <div class="overflow-hidden">
      <img class="db ma0 w-100" src="assets/images/cr001/cr001-c/cr001c-0.png" />
      <img class="db ma0" src="assets/images/cr001/cr001-c/cr001c-1.jpg" />
      <img class="db ma0" src="assets/images/cr001/cr001-c/cr001c-2.jpg" />
      <img class="db ma0" src="assets/images/cr001/cr001-c/cr001c-3.jpg" />
      <img class="db ma0" src="assets/images/cr001/cr001-c/cr001c-4.jpg" />
      <img class="db ma0" src="assets/images/cr001/cr001-c/cr001c-5.jpg" />
      <img class="db ma0" src="assets/images/cr001/cr001-c/cr001c-6.jpg" />
    </div>
    <div class="overflow-hidden">
      {% include cr001/item.html colour='black' id='9140622541' %}
      {% include cr001/item.html colour='white' id='9140629261' %}
      {% include cr001/item.html colour='black' id='9140651149' %}
      {% include cr001/item.html colour='white' id='9140712909' %}
      {% include cr001/item.html colour='black' id='9140762061' %}
      {% include cr001/item.html colour='white' id='9140780429' %}
    </div>
  </div>

  <div class="h-100-js-ns w-100 bg-cover fl cb" id="cr001-d">
    <div class="w-60 mx-auto h-100 flex items-center">
      <div>
        <div class="f1">10.03.17</div>
        <div class="f1">CR001</div>
        <div class="f1">@ SUM VENUE 10-3AM</div>
        <div class="f1">SUMGUY SUMNAME</div>
        <div class="f1">DJ MAYBE</div>
        <div class="f1">DAVID GUETTA</div>
        <div>
          <a class="btn btn-outline pa3 mt4 dib">BUY TICKETS</a>
        </div>
      </div>
    </div>
  </div>

</div>


<div class=”app-container”>
  <div class=”images”></div>

  <div>
    <a href="" class="btn buy-button" data-id="8627174408" id="8627174408">Buy EP</a>
  </div>
</div>




<script id="cart-item-template" type="text/template">
    <div class="cart-item">
      <div class="cart-item__img"></div>
      <div class="cart-item__content">
        <div class="cart-item__content-row">
          <div class="cart-item__variant-title"></div>
          <span class="cart-item__title"></span>
        </div>
        <div class="cart-item__content-row">
          <div class="cart-item__quantity-container">
            <button class="btn--seamless quantity-decrement" type="button"><span>-</span><span class="visuallyhidden">Decrement</span></button>
            <input class="cart-item__quantity" type="number" min="0" aria-label="Quantity">
            <button class="btn--seamless quantity-increment" type="button"><span>+</span><span class="visuallyhidden">Increment</span></button>
          </div>
          <span class="cart-item__price"></span>
        </div>
      </div>
    </div>
  </script>
<!-- .cart begin -->
<div class="cart">

  <!-- .cart-section begin // cart header -->
  <div class="cart-section cart-section--top">
    <h2 class="cartHeader capsZurich">Your cart</h2>
    <button class="btn--close">
      <span aria-role="hidden">×</span>
      <span class="visuallyhidden">Close</span>
    </button>
  </div>
  <!-- .cart-section end -->

  <!-- .cart-form begin // cart body -->
  <div class="cart-form">
    <div class="cart-item-container cart-section">

    </div>

    <!-- .cart-bottom begin -->
    <div class="cart-bottom">
      <div class="cart-info clearfix cart-section">
        <div class="type--caps cart-info__total cart-info__small">Total</div>
        <div class="cart-info__pricing">
          <span class="cart-info__small cart-info__total">GBP</span>
          <span class="pricing pricing--no-padding"></span>
        </div>
      </div>
      <div class="cart-actions-container cart-section type--center">
        <div class="cart-discount-notice cart-info__small center">Shipping and discount codes are added at checkout.</div>
        <a type="submit" class="chamferedButton chamferedButton--green btn--cart-checkout" id="checkout">
          <span>Checkout</span>
        </a>
      </div>
    </div>
    <!-- .cart-bottom end -->

  </div>
  <!-- .cart-form end -->

</div>
<!-- .cart end -->
