<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="LDN based concept label">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="http://circadian-rhythms.com">

  <meta property="og:url"                content="{{page.url}}">
  <meta property="og:title"              content="{{page.socialTitle}}" >
  <meta property="og:description"        content="{{page.socialDesc}}" >
  <meta property="og:image"              content="{{page.socialFBImage}}" >
  <meta property="og:type"   content="website" /> 
  <meta property="fb:app_id" content="133862413742331"/>

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@cr_label">
  <meta name="twitter:creator" content="@cr_label">
  <meta name="twitter:title" content="{{page.socialTitle}}">
  <meta name="twitter:description" content="{{page.socialDesc}}">
  <meta name="twitter:image" content="{{page.socialTwitterImage}}">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons//apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons//apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons//apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons//apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons//apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons//apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons//apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons//apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/icons//android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/icons//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/icons//favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/icons//favicon-16x16.png">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
  <script src="/assets/js/main02.js"></script>
  <script src="http://sdks.shopifycdn.com/js-buy-sdk/v0/latest/shopify-buy.umd.polyfilled.min.js"></script>

  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
    analytics.load("mxfsHa6zN9dYKHIx6WNDr32FeukkdNTW");
    analytics.page()
    }}();
  </script>

</head>
