body {
  font-family: 'UniversLTStd-Cn';
}

.f1, .f2, .f3, .f4, .f5, .f6 {
  font-family: 'Druk-WideMedium';
}

.stch {
    /*display:inline-block;*/
  -webkit-transform:scale(3,1); /* Safari and Chrome */
  -moz-transform:scale(3,1); /* Firefox */
  -ms-transform:scale(3,1); /* IE 9 */
  -o-transform:scale(3,1); /* Opera */
  transform:scale(3,1); /* W3C */
  transform-origin: left center;
}

.stch-c {
  transform-origin: center;
}

.f6 {
  font-size: 10px;
  margin: 5px 0 5px 0;
}

.smallcaps {
  font-size: 9px;
  text-transform: uppercase;
}

.small {
  font-size: 12px;
}
