body {
  font-family: 'UniversLTStd-Cn';
}

.f1, .f2, .f3, .f4, .f5 {
  font-family: 'Druk-WideMedium';
}

.smallcaps {
  font-size: 9px;
  text-transform: uppercase;
}

.small {
  font-size: 12px;
}
