@font-face {
  font-family: 'Druk-WideMedium';
  src: url('../assets/fonts/DrukWideMedium.eot');
}

@font-face {
  font-family: 'Druk-WideMedium';
  src: url('../assets/fonts/DrukWideMedium.woff') format('woff'),
  url('../assets/fonts/DrukWideMedium.svg#Druk-WideMedium') format('svg');
}

@font-face {
  font-family: 'UniversLTStd-Cn';
  src: url('../assets/fonts/UniversLTStd-Cn.eot');
}

@font-face {
  font-family: 'UniversLTStd-Cn';
  src: url('../assets/fonts/UniversLTStd-Cn.woff') format('woff'),
  url('../assets/fonts/UniversLTStd-Cn.svg#UniversLTStd-Cn') format('svg');
}
